<a href="https://colab.research.google.com/github/MarioCerra/intro_phython_202320/blob/main/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Pyton
## Curso de Programación y algoritmia UPB 202320
- Nombre: Mario Cerra
- ID: 503686
- Email: mario.cerra@upb.edu.co

Esta es la expresión de la linea recta:
$$y = mx + b$$
donde $x$ es la posición.

In [ ]:
# Comentarios

# Mis primeras líneas de código en Python
name = "Mario Andres"
print("Hello,", name)

Hello, Mario Andres

In [ ]:
name= "Mario Cerra"
age = "18"
city = "Monteria"
food = "empanadas"
print("Mi nombre es", name, "tengo", age, "años de edad", "vivo en", city, "y me gustan las", food)

Mi nombre es Mario Cerra tengo 18 años de edad vivo en Monteria y me gustan las empanadas

In [ ]:
a = 3
b = 4.5
c = a + b
print(type(a))
print(type(b))
print(c)
c = c * a
print(c)
c = c / b
print(c)
c = int(c / b)
print(c)
d = 0.3
c += 0.3
print(c)

<class 'int'>
<class 'float'>
7.5
22.5
5.0
1
1.3

In [ ]:
m = 5
b = 2
x = -3
y = m * x + b
print("x" "/---/", y)
x = -2
y = m * x + b
print("x" "/---/", y)
x = -1
y = m * x + b
print("x" "/---/", y)
x = 0
y = m * x + b
print("x" "/---/", y)
x = 1
y = m * x + b
print("x" "/---/", y)
x = 2
y = m * x + b
print("x" "/---/", y)
x = 3
y = m * x + b
print("x" "/---/", y)

x/---/ -13
x/---/ -8
x/---/ -3
x/---/ 2
x/---/ 7
x/---/ 12
x/---/ 17

In [ ]:
a = 1
b = 2
c = -8
disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc ) / (2 * a)
x_n = (-b - disc) / (2 * a)
print("x_p:" , x_p)
print("x_n:" , x_n)

x_p: 2.0
x_n: -4.0

In [ ]:
firstname = "Mario"
lastname = "Cerra"
fullname = firstname + " " + lastname
print(fullname)

Mario Cerra

In [ ]:
song = """Un elefante se balaceaba
sobre la tela de una araña
como veia que resistia
fue a buscar otro elefante"""
print(song)

Un elefante se balaceaba
sobre la tela de una araña
como veia que resistia
fue a buscar otro elefante

In [ ]:
a = 3
b = 5
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print((a == b) and (b + 3 > 5))
print((a ==b) or (b + 3 > 5))
print(not(a == b))

False
True
False
True
False
True
True